{% extends 'base.html' %}

{% block title %}
Supplier Management
{% endblock %}


{% block head %}

<script>
  // Function to open the Add modal
  function openAdd() {
    document.getElementById("popupAdd").style.display = "block";
    document.getElementById("overlay").style.display = "block";
  }
  // Function to close the Add modal
  function closeAdd() {
    document.getElementById("popupAdd").style.display = "none";
    document.getElementById("overlay").style.display = "none";
  }
  
</script>

{% for supplier in suppliers %}
<script>
  // Function to open the popup form
  function openForm{{supplier.supplier_id}}() {
    document.getElementById("popupForm-{{supplier.supplier_id}}").style.display = "block";
    document.getElementById("overlay").style.display = "block";
  }

  // Function to close the popup form
  function closeForm{{supplier.supplier_id}}() {
    document.getElementById("popupForm-{{supplier.supplier_id}}").style.display = "none";
    document.getElementById("overlay").style.display = "none";
  }
</script>
{% endfor %}

{% endblock %}


{% block content %}
<div class="super_container" style="margin-top: 35px; padding: 20px;">
  <br>
  <div class="heading-button-container">
    <h1>Supplier Management</h1>
    <div>
      <button type="button" class="btn btn-outline-secondary" onclick="openAdd()">Add Supplier</button>
    </div>
  </div>
  <br>
  <h2>Suppliers</h2>
  <div class="big-table-container">
    <table class="employee-table">
      <thead class="employee-table-header">
        <tr>
          <th>Supplier ID</th>
          <th>Name</th>
          <th>Email Address</th>
          <th>Mobile Number</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="employee-table-body">
        {% for supplier in suppliers %}
        <tr class="employee-table-row">
          <td class="employee-table-cell">{{ supplier.supplier_id }}</td>
          <td class="employee-table-cell">{{ supplier.supplier_name }}</td>
          <td class="employee-table-cell">{{ supplier.email }}</td>
          <td class="employee-table-cell">{{ supplier.mobile }}</td>
          <td class="employee-table-cell">
            <div class="d-flex align-items-center">
              <button class="btn btn btn-outline-primary btn-sm me-2" onclick="openForm{{supplier.supplier_id}}()">
                <a>
                  <i class="fas fa-edit"></i>
                </a>
              </button>
              <form method="POST" action="{{ url_for('delete_supplier', supplier_id=supplier.supplier_id) }}"
                onsubmit="return confirm('Are you sure you want to delete this supplier?')">
                <input type="hidden" name="supplier_id" value="{{ supplier.supplier_id }}">
                <button type="submit" class="btn btn btn-outline-danger btn-sm">
                  <i class="fas fa-trash"></i>
                </button>
              </form>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</div>

{% for supplier in suppliers %}
<!-- popup form  -->
<div id="popupForm-{{supplier.supplier_id}}" class="popup">
  <h2>Edit Supplier</h2>
  <form class="form-register" action="{{ url_for('edit_supplier', supplier_id=supplier.supplier_id) }}" method="post">
    {{ edit_form.csrf_token }}
    {{ edit_form.hidden_tag() }}
    <br>
    <div class="form-group">
      <label for="supplier_name">Supplier Name:</label>
      {{ edit_form.supplier_name(class="form-control", id="empname") }}
    </div>
    <div class="form-group">
      <label for="email_address">Email Address:</label>
      {{ edit_form.email_address(class="form-control", id="email_address") }}
    </div>
    <div class="form-group">
      <label for="mobile">Mobile:</label>
      {{ edit_form.mobile(class="form-control", id="mobile") }}
    </div>
    {{ edit_form.submit(class = "btn btn-outline-primary") }}
    <button type="button" class="btn btn-outline-danger" onclick="closeForm{{supplier.supplier_id}}()">Close</button>
  </form>
</div>
{% endfor %}

<!-- Add Supplier Form -->
<div class="popup" id="popupAdd">
  <form method="POST" class="form-register" action="{{ url_for('add_supplier') }}">
    {{ add_form.csrf_token() }}
    {{ add_form.hidden_tag() }}
    <div style="display: flex; flex-direction: column; align-items: center;">
      <h1>
        Add Supplier
      </h1>
    </div>
    <br>
    {{ add_form.supplier_name.label() }}
    {{ add_form.supplier_name(class = "form-control", placeholder="supplier name") }}
    <br>
    {{ add_form.email_address.label() }}
    {{ add_form.email_address(class = "form-control", placeholder="email@address.com ") }}
    <br>
    {{ add_form.mobile.label() }}
    {{ add_form.mobile(class = "form-control", placeholder="phone number") }}
    <br>
    {{ add_form.submit(class = "btn btn-outline-primary") }}
    <button type="button" class="btn btn-outline-danger" onclick="closeAdd()">Close</button>
  </form>
</div>


<!-- overlay  -->
<div id="overlay" class="overlay"></div>

{% endblock %}
